:root {
    --light: #F0F5F9;
    --light-dark: #C9D6DF;
    --dark-light: #52616B;
    --dark: #1E2022;
}
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark);
}
body {
    background-color: var(--light-dark);
}
.wrapper {
    margin: 32px auto;
    width: fit-content;
}
.card {
    margin: 0 auto;
    width: fit-content;
    background-color: var(--light);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 8px 32px -8px rgba(82,97,107, 0.4);
}
.d-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.d-grid {
    display: grid;
}
.mt-3 {
    margin-top: 1rem;
}
.mt-4 {
    margin-top: 1.5rem;
}
.me-4 {
    margin-right: 1.5rem;
}
.mt-1 {
    margin-top: 0.25rem;
}
form {
    margin: 0;
}
.btn {
    display: block;
    background-color: var(--dark);
    border: none;
    border-radius: 16px;
    color: var(--light);
    padding: 12px 32px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 8px 32px -8px rgba(30,32,34,0.4);
    transition: ease-out .1s;
    cursor: pointer;
}
.inp {
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 18px;
    background-color: unset;
}
.inp, .inp:active {
    border: 2px solid var(--dark);
}
.btn-outline {
    background-color: unset;
    color: var(--dark);
    border: 3px solid var(--dark);
}
.btn:hover {
    background-color: var(--dark-light);
}
.btn-outline:hover {
    background-color: var(--light-dark);
}
label {
    font-size: 18px;
}
th, td {
    border: 1px solid var(--dark);
    padding: 8px;
}
thead th {
    width: 25%;
}
table {
    border-collapse: collapse;
}
td .inp {
    width: 170px;
}
.w-fit {
    width: fit-content;
}